
 <div class="container">
           <div class="head">
                <img class="profile" src="https://z-m-scontent.fceb1-3.fna.fbcdn.net/v/t1.6435-9/cp0/e15/q65/p320x320/229584277_1394788024210467_847904058863908333_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=85a577&efg=eyJpIjoibyJ9&_nc_eui2=AeFZxefCu51sH5pzUFVSB41Tn99efGxTiWqf3158bFOJavkTmd-a3QL8P0XC1m3klQ_TxjFy_DnGygBStO1oFUoq&_nc_ohc=eRnCPejN98IAX9ErhPw&_nc_ad=z-m&_nc_cid=1119&_nc_eh=09060ba0f77a99f737ba7747a7cb0dbd&_nc_rml=0&_nc_ht=z-m-scontent.fceb1-3.fna&oh=76cd4053f4a34f927b285dc3efd6d146&oe=619F217F" alt="">
                <h4 class="name">Erika joy S. Cartel</h4>
           </div>
           <div class="content">
                <div class="box">
                    <div class="title">
                        <h3>About me</h3>
                    </div>
                    <div class="box-content">
                        <p>I'm a 3rd year college student in the BSIT course - I don't know much about being a programmer because what I want to do is get a job, but I'm going to be able to do what I can to get through the Bsit course [I'm a shy person , I'm single, I'm a single person," he said.  the dream of life is high and waiting for someone who seems to me to be given a dysle.</p>
                    </div>
                </div>
           </div>
           <!--add gallary-->
           <div class="content">
            <div class="box">
                <div class="title">
                    <h3>Project </h3>
                    <span>My project is not yet publish</span>
                </div>
                <div class="box-content">
                    <img class="gallery" src="https://www.sourcecodester.com/sites/default/files/2020-06/images/school-management_0.png" alt="">
                    <img class="gallery" src="https://th.bing.com/th/id/OIP.yBWjlubz5X7P3wSm8fAzbwHaD4?pid=ImgDet&rs=1" alt="">
                    <img class="gallery" src="https://th.bing.com/th/id/OIP.pCyixI7Scq_tKSozwA-WfAHaD_?pid=ImgDet&rs=1" alt="">
                   
                </div>
            </div>
       </div>

       </div>
